# Archivos de entorno
.env
.env.local
.env.*.local

# Dependencias
node_modules/
.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Build
dist/
build/
.output/
.nuxt/
.dart_tool/
*.js_

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Sistema operativo
Thumbs.db
desktop.ini

# Flutter/Dart
*.iml
*.ipr
*.iws
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Archivos temporales
*.bak
*.tmp
.cache/
